<div class="ask-container">
 <form action="/questions/answer" method="get">
    <ul class="form-style-1">
      <li><label for="question">Speak to your coach</label><input type="text" id="question" name="field1" class="field-divided" placeholder="What time is it?">
      </li>
      <li>
        <input type="submit" value="Go on!" />
      </li>
    </ul>
  </form>
</div>



